.sidebar {
    border-right: 2px solid var(--gray-100);

    .menu_list {
        height: calc(100vh - 146px);
        overflow: auto;
    }

    .sider_footer {
        display: flex;
        gap: var(--sp-md);
        padding: var(--sp-lg);
        flex-direction: column;
        align-items: flex-start;

        .logout {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            color: var(--red-100);
            padding: var(--sp-sm) var(--sp-lg);
            border-radius: var(--radi-lg);
            font-weight: 500;
            cursor: pointer;

            svg {
                font-size: 1.2rem;
            }
        }
    }
}